name: Build and test on macOS and Ubuntu

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build on macOS
        run: swift build
      - name: Test on macOS
        run: swift test

  build-and-test-ubuntu:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Set up Swift on Ubuntu
        uses: swift-actions/setup-swift@v2
        with:
          swift-version: '6.1'
      - name: Build on Ubuntu
        run: swift build
      - name: Test on Ubuntu
        run: swift test